<%- include('./header') %>

<main>

<!--	<div class="tidal-embed" data-type="a" data-id="1550545"></div>-->
		<article>
			<h2>In het kort</h2>
			<p>
				Ik ben Quinten Kok, een 20-jarige student aan de HvA. Ik studeer Communication and Multimedia Design.
				Op dit moment ben ik bezig met het vak Web App From Scratch.
				Deze website is gemaakt voor dit vak.
			</p>
			<a href=""><span class="sr-only">Wil je meer informatie over mij,</span>Lees verder</a>
		</article>
		<article id="content">
		
		</article>

    <!-- 		<iframe src="https://embed.tidal.com/albums/271240948?disableAnalytics=true" allowfullscreen="allowfullscreen" disableAnalytics=true" loading="lazy" frameborder="0" style="width:100%;height:96px"></iframe>-->

		<section>
			<h3>Op dit moment</h3>
			Student en medewerker bij <a href="https://www.indexpeople.nl">Index People</a>
		</section>
		<section>
			<h3>Recente projecten</h3>
			<ul>
				<li>
					<a href="https://www.indexpeople.nl">Filosofie</a>
				</li>
				<li>
					<a href="https://www.indexpeople.nl">Schoolprojecten</a>
				</li>
				<li>
					<a href="https://www.indexpeople.nl">Fotografie</a>
				</li>
				<li>
					<a href="https://www.indexpeople.nl">Werkervaring</a>
				</li>
			</ul>
		</section>
		<section>
			<h3>Omgeving</h3>
			<p>
				Noord Holland
				Aalsmeer
				<small>
					52.2870093
					4.8052612
				</small>
			</p>
		</section>
		<section>
			<h3>Socials</h3>
			<ul>
				<li>
					<a href="https://www.linkedin.com/in/quinten-kok/">LinkedIn</a>
				</li>
				<li>
					<a href="https://www.instagram.com/qu1n73n/">Instagram</a>
				</li>
				<li>
					<a href="https://www.instagram.com/idlegirlscout/">IdleGirlScout</a>
				</li>
			</ul>
		</section>
		
		<section>
			<h3>Contact</h3>
			<ul>
				<li><a href="tel:+31615572207">Mobiele telefoon</a></li>
				<li><a href="mailto:Quintenkok@me.com">Email</a></li>
			</ul>
		</section>
		
	</main>

<script src="https://embed.tidal.com/tidal-embed.js"></script>
<!--  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>-->
<!--  <script>-->
<!--    document.getElementById('content').innerHTML =-->
<!--			marked.parse('# Marked in browser\n\nRendered by **marked**.');-->
<!--  </script>-->
<script src="/scripts/index.js"></script>
</body>
</html>
<!--Albums die niet werken-->
<!--https://tidal.com/browse/album/72694579-->
<!--https://tidal.com/browse/album/618221-->
<!--https://listen.tidal.com/album/282178497-->
<!--https://listen.tidal.com/album/68493089-->
<!--https://listen.tidal.com/album/273619903-->
<!--https://listen.tidal.com/album/200578791-->
<!--https://listen.tidal.com/album/199142349-->
<!--https://listen.tidal.com/album/20753857-->
<!--https://listen.tidal.com/album/1550545-->
<!--https://listen.tidal.com/album/211822890-->
<!--https://listen.tidal.com/album/279083092-->
<!--https://listen.tidal.com/album/133735297-->
<!--https://listen.tidal.com/album/195894561-->
<!--https://listen.tidal.com/album/77632885-->
<!--https://listen.tidal.com/album/77598426-->
<!--https://listen.tidal.com/album/257665670-->
<!--https://listen.tidal.com/album/77699617-->
<!--https://listen.tidal.com/album/250011934-->
<!--https://listen.tidal.com/album/221523564-->
<!--https://listen.tidal.com/album/92319825-->


<!--Het lijkt artiest gebonden te zijn, ik denk dat ze toestemming moeten geven?-->


<!--Albums die wel werken-->
<!--https://listen.tidal.com/album/260579298-->
<!--https://listen.tidal.com/album/123591955-->
<!--https://listen.tidal.com/album/271240948-->
<!--https://listen.tidal.com/album/174448504-->
<!--https://listen.tidal.com/album/307603174-->
<!--https://listen.tidal.com/album/662795-->
<!--https://listen.tidal.com/album/149575174-->
<!--https://listen.tidal.com/album/245042535-->
<!--https://listen.tidal.com/album/655910-->
<!--https://listen.tidal.com/album/2178485-->
<!--https://listen.tidal.com/album/272254582-->
<!--https://listen.tidal.com/album/286130505-->
<!--https://listen.tidal.com/album/109485854-->


<!--https://tidal.com/browse/track/250011941-->
