@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-Regular.ttf);
    font-weight: 400;
    }

@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-Light.ttf);
    font-weight: 300;
    }

@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-ExtraLight.ttf);
    font-weight: 200;
    }

@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-Medium.ttf);
    font-weight: 500;
    }


@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-Bold.ttf);
    font-weight: 700;
    }

@font-face {
    font-family: Mona sans;
    src: url(../fonts/MonaSans-SemiBold.ttf);
    font-weight: 600;
    }

:root {
    /* font-size: min(calc(1em + 1vw), 4em); */
    --c-creme: #f0ece3;
    --p-purple: #131444;
    --primary-color: var(--c-creme);
    --secondary-color: var(--p-purple);
    --tertiary-color: #00000;
    --primary-font: Mona sans, sans serif;
    /* --secondary-font: Gallient, sans serif; */
    /* --dist-det-week: 2.5em; */
    --shadow: 4px 4px 10px #1314443f;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: var(--primary-font);
    font-size: 1em;
    font-weight: 300;
    color: var(--secondary-color);
    
    background-color: var(--primary-color);
    
    }

h1 {
    
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--secondary-color);
    }

h2 {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--secondary-color);
    }

h3 {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--secondary-color);
    }


/* header */
header {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    gap: 4em;
    padding-top: 3em;
    }
header section:nth-of-type(1){
    margin: 0 0 0 5em;
    }
header section:nth-of-type(1) h1{
    margin-bottom: 0;
    }
header section:nth-of-type(1) p{
    margin-top: .25em;
    }
header ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .3em;
    }
header ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    position: relative;
    }
header ul li a:before {
    position: absolute;
    bottom: -.125em;
    width: 100%;
    height: 1px;
    content: "";
    transition: transform 0.3s ease-in;
    transform: scale3d(0, 2, 2);
    transform-origin: 100%;
    background-color: var(--secondary-color);
    }
header ul li a:hover:before {
    transform: scale3d(1, 2, 5);
    transform-origin: 0;
    animation-fill-mode: forwards;
    }
header ul li a:after{
    position: absolute;
    bottom: -.125em;
    width: 100%;
    height: 1px;
    content: "";
    left: 0;
    /* transition: transform 0.3s ease-in; */
    /* transform: scale3d(0, 2, 2); */
    transform-origin: 100%;
    background-color: var(--secondary-color);
    }
header ul li a[aria-current='page'] {
    font-weight: 700;
    }

header section:nth-of-type(2){
    position: absolute;
    width: 50vw;
    height: 50vw;
    left: calc(50% - 25vw);
    top: calc(50% - 25vw);
    animation: rotating 4s linear infinite;
    }

header section:nth-of-type(2) svg{
    position: absolute;
    z-index: 11;
    filter: invert(100%);
    width: 15em;
    object-fit: inherit;
    bottom: 4em;
    right: 43px;
    rotate: -15deg;
    }
header section:nth-of-type(2) svg textPath{
    font-size: 6.5em;
    }
header section:nth-of-type(2) h2{
    position: absolute;
    width: 10em;
    height: 3em;
    text-wrap: nowrap;
    overflow: hidden;
    left: 10em;
    top: 35%;
    z-index: 11;
    transform: translate(-50%, -50%);
    /* filter: invert(100%); */
    font-size: 2em;
    color: white;
    }
header section:nth-of-type(2) h3{
    position: absolute;
    left: 5.5em;
    top: 65%;
    z-index: 11;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.75em;
    }
header section:nth-of-type(2) h4{
    position: absolute;
    right: 3em;
    top: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    }
    
header section:nth-of-type(2) img{
    width: 50vw;
    border-radius: 50%;
    height: 50vw;
    position: absolute;
    top:0;
    left: 0;
    object-position: 50% 40%;
    /* object-fit: fill; */
    -webkit-mask: radial-gradient(transparent 1em, red 0);
    mask: radial-gradient(transparent 1em, red 0);
    }


header div.tidal-embed{
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 22em;
    }

/* animation cancel */
header > label:nth-of-type(1) {
    position: absolute;
    bottom: 2em;
    right: 2em;
    }
header > label:nth-of-type(1) input {
    appearance: none;
    }

/* Rpm choice */

header fieldset {
    position: absolute;
    bottom: 25dvh;
    left: 1em;
    border: none;
    }
header fieldset div{
    display: flex;
    flex-direction: column;
    }


body:has(input#Choice1:checked) header section:nth-of-type(2){
    animation: rotating 1.8181818s linear infinite;
    }
body:has(input#Choice2:checked) header section:nth-of-type(2){
    animation: rotating 1.333333s linear infinite;
    }
body:has(input#Choice3:checked) header section:nth-of-type(2){
    animation: rotating .05s linear infinite;
    }
body:has(input#Choice4:checked) header section:nth-of-type(2){
    animation: rotating 3s linear infinite;
    }



body:has(label:nth-of-type(1) input#stopAnimatie:checked) header section:nth-of-type(2) {
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    }
/* main */





/* classes */

path{
    fill: transparent;
    }
/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    }


/* keyframes */
@keyframes rotating {
    from {
        transform: rotate(0deg);
        }
    
    to {
        transform: rotate(360deg);
        }
    }